services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: StoY-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - ./.env:/app/.env
    restart: unless-stopped
    networks:
      - StoY-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: StoY-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - StoY-network

networks:
  StoY-network:
    driver: bridge
